*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    width: 100%;
    background: #F0F4F8;
    display: flex;
    justify-content: center;
    padding: 55px 0;
}
footer .FooterContainer{
    width: 1280px;
}
footer .FooterContainer .search{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .FooterContainer .search .SerchIcon {
    position: relative;
}
footer .FooterContainer .search .SerchIcon i {
    position: absolute;
    color: black;
    left: 125px;
    font-weight: 200;
    font-size: 26px;
    top: -13px;
}
footer .FooterContainer .search input:focus{
    outline: none ;
    box-shadow: none;
}
footer .FooterContainer .search input{
    width: 891px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 0 0 0 65px;
    margin: 0 22px 0 0;
    text-transform: capitalize;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110%;
    color: #79A6C3;
}
footer .FooterContainer .FooterLink{
    display: flex; 
    justify-content: space-between;
    padding: 45px 0;
}
footer .FooterContainer .FooterLink .LinkOne{
    padding: 0 50px 0 0;
}
footer .FooterContainer .FooterLink .LinkOne .LinkNum{
    display: flex;
    flex-direction: column;
    padding: 0 0 35px 0;
}
footer .FooterContainer .FooterLink .LinkOne .LinkNum .Number{
    width: 270px;
    height: 37px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 110%;
    color: #0000DE;
}
footer .FooterContainer .FooterLink .LinkOne .LinkNum .mail{
    width: 270px;
    height: 14px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 110%;
    color: #6E9BB8;
}
footer .FooterContainer .FooterLink .LinkOne .region .adress{
    width: 270px;
    height: 22px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    color: #0000DE;
}
footer .FooterContainer .FooterLink .LinkOne .region .watch{
    width: 270px;
    height: 14px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 110%;
    color: #6E9BB8;
    padding: 0 0 55px 0;
}
footer .FooterContainer .FooterLink .LinkOne .LinkIcons i{
    display: inline-block;
    width: 43px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 0 10px 0 0;
    padding: 14px;
    font-weight: 100;
}
footer .FooterContainer .FooterLink .LinkTwo .LinkTitle{
    display: inline-block;
    width: 186px;
    height: 27px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 20px 0;
    color: #0000DE;
}
footer .FooterContainer .FooterLink .LinkTwo .Links{
    display: flex;
    flex-direction: column;
}
footer .FooterContainer .FooterLink .LinkTwo .Links .LinksItem{
    display: inline-block;
    width: 159px;
    height: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0 0 15px 0;
    color: #000000;
}